# 여러 개 DataFrame을 각 시트별로 엑셀 파일에 저장

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[11, 21, 31], [12, 22, 32], [31, 32, 33]],
                  index=['one', 'two', 'three'], columns=['a', 'b', 'c'])
df1

        a   b   c
one    11  21  31
two    12  22  32
three  31  32  33

In [4]:
df2 = pd.DataFrame([[12, 22, 33], [12, 22, 32], [31, 32, 33]],
                  index=['one', 'two', 'three'], columns=['a', 'b', 'c'])
df2

        a   b   c
one    12  22  33
two    12  22  32
three  31  32  33

In [5]:
df3 = pd.DataFrame([[11, 21, 31], [12, 22, 32], [33, 33, 33]],
                  index=['one', 'two', 'three'], columns=['a', 'b', 'c'])
df3

        a   b   c
one    11  21  31
two    12  22  32
three  33  33  33

In [6]:
#1. 파일 생성
writer=pd.ExcelWriter('pydata/테스트파일명.xlsx', engine='openpyxl')
 
#2. 생성 파일에 시트명 지정 후 dataframe에 저장한 결과값 넣기
df1.to_excel(writer, sheet_name='sheet1')
df2.to_excel(writer, sheet_name='sheet2')
df3.to_excel(writer, sheet_name='sheet3')
 
#3. 작성 완료 후 파일 저장
writer.save()